[manifest]
version = "1.0.0"
priority = 0

# elm juices

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "if not G.TAROT_INTERRUPT_PULSE then G.FUNCS.text_super_juice(e, math.max(0,math.floor(math.log10(type(G.GAME.current_round.current_hand.mult) == 'number' and G.GAME.current_round.current_hand.mult or 1)))) end"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand.mult)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "if not G.TAROT_INTERRUPT_PULSE then G.FUNCS.text_super_juice(e, math.max(0,math.floor(math.log10(type(G.GAME.current_round.current_hand.chips) == 'number' and G.GAME.current_round.current_hand.chips or 1)))) end"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand.chips)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "G.FUNCS.text_super_juice(e, math.floor(math.log10(G.GAME.current_round.current_hand.chip_total)))"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand.chip_total)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/ui.lua"]'
pattern = "if not G.TAROT_INTERRUPT_PULSE then G.FUNCS.text_super_juice(e, math.max(0,math.floor(math.log10(type(G.GAME.current_round.current_hand[e.config.type]) == 'number' and math.abs(G.GAME.current_round.current_hand[e.config.type]) or 1)))) end"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand[e.config.type])
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''local AC = G.SETTINGS.ambient_control'''
position = "before"
payload = '''
G.ARGS.score_intensity.organ = to_number(G.ARGS.score_intensity.organ)
if G.ARGS.score_intensity.organ ~= G.ARGS.score_intensity.organ then G.ARGS.score_intensity.organ = 0 end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''_F.timer = _F.timer + G.real_dt*(1 + _F.intensity*0.2)'''
position = "before"
payload = '''
_F.intensity = to_number(_F.intensity)
'''
match_indent = true
