[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "if not G.TAROT_INTERRUPT_PULSE then G.FUNCS.text_super_juice(e, math.max(0,math.floor(math.log10(type(G.GAME.current_round.current_hand.mult) == 'number' and G.GAME.current_round.current_hand.mult or 1)))) end"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand.mult)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "if not G.TAROT_INTERRUPT_PULSE then G.FUNCS.text_super_juice(e, math.max(0,math.floor(math.log10(type(G.GAME.current_round.current_hand.chips) == 'number' and G.GAME.current_round.current_hand.chips or 1)))) end"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand.chips)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "G.FUNCS.text_super_juice(e, math.floor(math.log10(G.GAME.current_round.current_hand.chip_total)))"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand.chip_total)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/ui.lua"]'
pattern = "if not G.TAROT_INTERRUPT_PULSE then G.FUNCS.text_super_juice(e, math.max(0,math.floor(math.log10(type(G.GAME.current_round.current_hand[e.config.type]) == 'number' and math.abs(G.GAME.current_round.current_hand[e.config.type]) or 1)))) end"
position = "at"
payload = '''
Talisman.juice_elm(e, G.GAME.current_round.current_hand[e.config.type])
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
position = 'at'
match_indent = true
pattern = '''
G.ARGS.score_intensity.earned_score = G.GAME.current_round.current_hand.chips*G.GAME.current_round.current_hand.mult
'''
payload = '''
G.ARGS.score_intensity.earned_score = math.min(to_number(G.GAME.current_round.current_hand.chips*G.GAME.current_round.current_hand.mult), 1e300)
'''

[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
position = 'at'
match_indent = true
pattern = '''
G.ARGS.score_intensity.earned_score = SMODS.calculate_round_score(true)
'''
payload = '''
G.ARGS.score_intensity.earned_score = math.min(to_number(SMODS.calculate_round_score(true)), 1e300)
'''

[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
position = 'at'
match_indent = true
pattern = '''
G.ARGS.score_intensity.earned_score = all_numbers and SMODS.calculate_round_score(true) or 0
'''
payload = '''
G.ARGS.score_intensity.earned_score = all_numbers and math.min(to_number(SMODS.calculate_round_score(true)), 1e300) or 0
'''

[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
position = 'at'
match_indent = true
pattern = '''
if type(G.GAME.current_round.current_hand[name]) ~= 'number' then all_numbers = false end
'''
payload = '''
all_numbers = all_numbers and is_number(G.GAME.current_round.current_hand[name])
'''

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''local AC = G.SETTINGS.ambient_control'''
position = "before"
payload = '''
G.ARGS.score_intensity.organ = to_number(G.ARGS.score_intensity.organ)
G.ARGS.score_intensity.earned_score = math.min(to_number(G.ARGS.score_intensity.earned_score), 1e300)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''_F.timer = _F.timer + G.real_dt*(1 + _F.intensity*0.2)'''
position = "before"
payload = '''
_F.intensity = to_number(_F.intensity)
'''
match_indent = true
