[manifest]
version = "1.0.0"
priority = 0

# arbitrary operations on chips and mult
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "if effects.jokers.Xmult_mod then mult = mod_mult(mult*effects.jokers.Xmult_mod);extras.mult = true  end"
position = "after"
payload = '''
for k,v in pairs(effects.jokers) do
	local fx = Talisman.effects.list[k]
	if fx then
		if fx.parameterKey == 'mult' then
			mult = mod_mult(fx.set(mult, v))
			extras.mult = true
		else fx.parameterKey == 'chips' then
			hand_chips = mod_chips(fx.set(hand_chips, v))
			extras.hand_chips = true
		end
	end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "if effect.Xmult_mod then mult = mod_mult(mult*effect.Xmult_mod);extras.mult = true  end"
position = "after"
payload = '''
for k,v in pairs(effect) do
	local fx = Talisman.effects.list[k]
	if fx then
		if fx.parameterKey == 'mult' then
			mult = mod_mult(fx.set(mult, v))
			extras.mult = true
		else fx.parameterKey == 'chips' then
			hand_chips = mod_chips(fx.set(hand_chips, v))
			extras.hand_chips = true
		end
	end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "x_mult = center.config.Xmult or 1,"
position = "after"
payload = '''
e_mult = center.config.Emult or 0,
ee_mult = center.config.EEmult or 0,
eee_mult = center.config.EEEmult or 0,
hyper_mult = type(center.config.Hmult) == 'table' and center.config.Hmult or {0, 0},
x_chips = center.config.Xchips or 0,
e_chips = center.config.Echips or 0,
ee_chips = center.config.EEchips or 0,
eee_chips = center.config.EEEchips or 0,
hyper_chips = type(center.config.Hchips) == 'table' and center.config.Hchips or {0, 0},
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "local p_dollars = card:get_p_dollars()"
position = "before"
payload = '''
local x_chips = card:get_chip_x_bonus()
if x_chips > 0 then
	ret.x_chips = x_chips
end

local e_chips = card:get_chip_e_bonus()
if e_chips > 0 then
	ret.e_chips = e_chips
end

local ee_chips = card:get_chip_ee_bonus()
if ee_chips > 0 then
	ret.ee_chips = ee_chips
end

local eee_chips = card:get_chip_eee_bonus()
if eee_chips > 0 then
	ret.eee_chips = eee_chips
end

local hyper_chips = card:get_chip_hyper_bonus()
if type(hyper_chips) == 'table' and hyper_chips[1] > 0 and hyper_chips[2] > 0 then
	ret.hyper_chips = hyper_chips
end

local e_mult = card:get_chip_e_mult()
if e_mult > 0 then
	ret.e_mult = e_mult
end

local ee_mult = card:get_chip_ee_mult()
if ee_mult > 0 then
	ret.ee_mult = ee_mult
end

local eee_mult = card:get_chip_eee_mult()
if eee_mult > 0 then
	ret.eee_mult = eee_mult
end

local hyper_mult = card:get_chip_hyper_mult()
if type(hyper_mult) == 'table' and hyper_mult[1] > 0 and hyper_mult[2] > 0 then
	ret.hyper_mult = hyper_mult
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "elseif eval_type == 'dollars' then"
position = "before"
payload = '''
elseif Talisman.effects.list[eval_type] then
	local h = Talisman.effects.list[eval_type]
	sound = h.sound
	text = h.stringify(amt)
	colour = G.C[h.colorKey or 'WHITE']
	config.type = 'fade'
	config.scale = 0.7
	amt = h.hyper and amt[2] or amt
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "if effects[ii].message then"
position = "before"
payload = '''
for k,v in pairs(effects[ii]) do
	local fx = Talisman.effects.list[k]
	if fx then
		mod_percent = true
		if fx.parameterKey == 'mult' then
			mult = mod_mult(fx.set(mult, v))
			update_hand_text({delay = 0}, {mult = mult})
		else fx.parameterKey == 'chips' then
			hand_chips = mod_chips(fx.set(hand_chips, v))
			update_hand_text({delay = 0}, {chips = hand_chips})
		end
		card_eval_status_text(G.hand.cards[i], k, v, percent)
	end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "--calculate the card edition effects"
position = "before"
payload = '''
for k,v in pairs(effects[ii]) do
	local fx = Talisman.effects.list[k]
	if fx then
		mod_percent = true
		if effects[ii].card then juice_card(effects[ii].card) end
		if fx.parameterKey == 'mult' then
			mult = mod_mult(fx.set(mult, v))
			update_hand_text({delay = 0}, {mult = mult})
		else fx.parameterKey == 'chips' then
			hand_chips = mod_chips(fx.set(hand_chips, v))
			update_hand_text({delay = 0}, {chips = hand_chips})
		end
		card_eval_status_text(scoring_hand[i], k, v, percent)
		if effects[ii].card then juice_card(effects[ii].card) end
	end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = 'if effects[ii].edition.p_dollars_mod then'
position = 'before'
match_indent = true
payload = '''
if scoring_hand and scoring_hand[i] and scoring_hand[i].edition then
	local trg = scoring_hand[i]
	local edi = trg.edition

	for k,v in pairs(edi) do
		local fx = Talisman.effects.list[k]
		if fx then
			mod_percent = true
			if fx.parameterKey == 'mult' then
				mult = mod_mult(fx.set(mult, v))
				update_hand_text({delay = 0}, {mult = mult})
			else fx.parameterKey == 'chips' then
				hand_chips = mod_chips(fx.set(hand_chips, v))
				update_hand_text({delay = 0}, {chips = hand_chips})
			end
			card_eval_status_text(scoring_hand[i], k, v, percent)
			if effects[ii].card then juice_card(effects[ii].card) end

			card_eval_status_text(
				trg, 'extra', nil, percent, nil,
				{
					message = fx.stringify(v),
					edition = true,
					[k] = true
				}
			)
		end
	end
end
'''

# my fix for this one is really scuffed
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = 'if edition_effects.jokers.x_mult_mod then'
position = 'before'
match_indent = true
payload = '''
if edition_effects.jokers.x_mult_mod then
	mult = mod_mult(mult*edition_effects.jokers.x_mult_mod)
	update_hand_text({delay = 0}, {mult = mult})
	card_eval_status_text(_card, 'jokers', nil, percent, nil, {
		message = localize{type='variable',key='a_xmult',vars={edition_effects.jokers.x_mult_mod}},
		x_mult_mod =  edition_effects.jokers.x_mult_mod,
		colour =  G.C.EDITION,
		edition = true})
end
if G.jokers.cards and G.jokers.cards[i] and G.jokers.cards[i].edition then
	local trg = G.jokers.cards[i]
	local edi = trg.edition

	for k,v in pairs(edi) do
		local fx = Talisman.effects.list[k]
		if fx then
			mod_percent = true
			if fx.parameterKey == 'mult' then
				mult = mod_mult(fx.set(mult, v))
				update_hand_text({delay = 0}, {mult = mult})
			else fx.parameterKey == 'chips' then
				hand_chips = mod_chips(fx.set(hand_chips, v))
				update_hand_text({delay = 0}, {chips = hand_chips})
			end
			card_eval_status_text(scoring_hand[i], k, v, percent)
			if effects[ii].card then juice_card(effects[ii].card) end

			card_eval_status_text(
				trg, 'extra', nil, percent, nil,
				{
					message = fx.stringify(v),
					edition = true,
					[k] = true
				}
			)
		end
	end
end
edition_effects.jokers.x_mult_mod = nil
'''

# sfx
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "sound = extra.edition and 'foil2' or extra.mult_mod and 'multhit1' or extra.Xmult_mod and 'multhit2' or 'generic1'"
position = "at"
payload = '''
sound = extra.edition and 'foil2' or
	extra.mult_mod and 'multhit1' or
	extra.Xmult_mod and 'multhit2' or
	extra.Xchip_mod and 'talisman_xchip' or
	extra.Echip_mod and 'talisman_echip' or
	extra.Emult_mod and 'talisman_emult' or
	extra.EEchip_mod and 'talisman_eechip' or
	extra.EEmult_mod and 'talisman_eemult' or
	(extra.EEEchip_mod or extra.hyperchip_mod) and 'talisman_eeechip' or
	(extra.EEEmult_mod or extra.hypermult_mod) and 'talisman_eeemult' or
	'generic1'
'''
match_indent = true
