[manifest]
version = "1.0.0"
priority = 0

# Hand levels
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '{n=G.UIT.C, config={align = "cm", padding = 0.01, r = 0.1, colour = G.C.HAND_LEVELS[math.min(7, G.GAME.hands[handname].level)], minw = 1.5, outline = 0.8, outline_colour = G.C.WHITE}, nodes={'
position = "at"
payload = '{n=G.UIT.C, config={align = "cm", padding = 0.01, r = 0.1, colour = G.C.HAND_LEVELS[math.floor(to_number(math.min(7, G.GAME.hands[handname].level)))], minw = 1.5, outline = 0.8, outline_colour = G.C.WHITE}, nodes={'
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = 'G.hand_text_area.hand_level.config.colour = G.C.HAND_LEVELS[math.min(vals.level, 7)]'
position = "at"
payload = 'G.hand_text_area.hand_level.config.colour = G.C.HAND_LEVELS[math.floor(to_number(math.min(7, vals.level)))]'
match_indent = true

# getWidth table on UIE
[[patches]]
[patches.pattern]
target = "engine/ui.lua"
pattern = 'node.config.lang = node.config.lang or G.LANG'
position = "after"
payload = '''if type(node.config.text) ~= "string" then node.config.text = tostring(node.config.text) end'''
match_indent = true

# string.length on cdata
[[patches]]
[patches.pattern]
target = "engine/ui.lua"
pattern = 'if not self.config.no_recalc and self.config.prev_value and string.len(self.config.prev_value) ~= string.len(self.config.text) then self.UIBox:recalculate() end'
position = "at"
payload = '''
if not self.config.no_recalc and (not self.config.prev_text or string.len(self.config.prev_text) ~= string.len(self.config.text)) then self.UIBox:recalculate() end
self.config.prev_text = self.config.text
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if num_dollars > 60 then"
position = "at"
payload = '''num_dollars = to_number(num_dollars); if math.abs(num_dollars) > 60 then'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if num_dollars > 60 or num_dollars < -60 then"
position = "at"
payload = '''num_dollars = to_number(num_dollars); if math.abs(num_dollars) > 60 then'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if type(vals.level) == 'number' then"
position = "at"
payload = "if is_number(vals.level) then"
match_indent = true

# Luxury Tax Challenge
[[patches]]
[patches.pattern]
target = "cardarea.lua"
pattern = '''self:change_size(self.config.last_poll_size - math.floor(G.GAME.dollars/G.GAME.modifiers.minus_hand_size_per_X_dollar))'''
position = "at"
payload = '''self:change_size(to_number(self.config.last_poll_size - math.floor(G.GAME.dollars/G.GAME.modifiers.minus_hand_size_per_X_dollar)))'''
match_indent = true

# BigAnte
[[patches]]
[patches.regex]
target = "tag.lua"
pattern = '''G\.GAME\.orbital_choices\[G\.GAME\.round_resets\.ante\]'''
position = "at"
payload = '''G.GAME.orbital_choices[to_number(G.GAME.round_resets.ante)]'''
match_indent = true

[[patches]]
[patches.regex]
target = "functions/UI_definitions.lua"
pattern = '''G\.GAME\.orbital_choices\[G\.GAME\.round_resets\.ante\]'''
position = "at"
payload = '''G.GAME.orbital_choices[to_number(G.GAME.round_resets.ante)]'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''if not G.GAME.orbital_choices[G.GAME.round_resets.ante][type] then '''
position = "at"
payload = '''if Talisman.big_ante.has() or not G.GAME.orbital_choices[G.GAME.round_resets.ante][type] then '''
match_indent = true

# Flame animation
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''local AC = G.SETTINGS.ambient_control'''
position = "before"
payload = '''
G.ARGS.score_intensity.organ = clamp_bignum(G.ARGS.score_intensity.organ)
if G.ARGS.score_intensity.organ ~= G.ARGS.score_intensity.organ then G.ARGS.score_intensity.organ = 0 end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''_F.timer = _F.timer + G.real_dt*(1 + _F.intensity*0.2)'''
position = "at"
payload = '''
_F.intensity = clamp_bignum(_F.intensity, Talisman.flame_max)
_F.timer = _F.timer + G.real_dt * math.min(1 + _F.intensity*0.2, Talisman.flame_dt_max)

if _F.intensity == 0 and not _F.less then
	_F.less = true
	if _F.timer > 60 * Talisman.flame_dt_max then _F.timer = 1 end
	if _F.real_intensity > Talisman.flame_decay then
		_F.real_intensity = Talisman.flame_decay
		_F.intensity_vel = 0
		_F.change = 0
	end
elseif _F.intensity ~= 0 and _F.less then
	_F.less = nil
end
'''
match_indent = true

# DynaText with bignum
[[patches]]
[patches.pattern]
target = "engine/text.lua"
pattern = '''self.config.quiver = {'''
position = "before"
payload = '''
amt = clamp_bignum(amt)
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "engine/text.lua"
pattern = '''self.config.pulse = {'''
position = "before"
payload = '''
amt = clamp_bignum(amt)
'''
match_indent = true
