[manifest]
version = "1.0.0"
priority = 0

# AAAAAAAAAAAAAA FUCK
[[patches]]
[patches.pattern]
target = "engine/string_packer.lua"
pattern = 'if type_v == "table" then'
position = "at"
payload = '''
if Big and Big.is(v) then
	local arr = {}
	for i, val in pairs(v:get_array()) do
		table.insert(arr, string.format("[%s]=%s,", i, val or 0))
	end
	v = string.format("(Big and to_big({%s}, %s) or %s)", table.concat(arr), v.sign, math.min(v.number,1e305))

elseif type_v == "table" and v.__talisman then
	local arr = {}
	for i, val in pairs(v.array) do
		table.insert(arr, string.format("[%s]=%s,", i, val or 0))
	end
	v = string.format("(Big and to_big({%s}, %s) or %s)", table.concat(arr), v.sign, v.val)

elseif type_v == "table" then
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = 'if G.FILE_HANDLER.progress then'
position = "after"
payload = '''
G.ARGS.save_progress.PROFILE = Talisman.sanitize(Talisman.copy_table(G.ARGS.save_progress.PROFILE))
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = 'if G.FILE_HANDLER.run then'
position = "after"
payload = 'Talisman.sanitize(G.ARGS.save_run)'
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = 'save_profile = G.PROFILES[G.SETTINGS.profile]'
position = "at"
payload = 'save_profile = Talisman.sanitize(Talisman.copy_table(G.PROFILES[G.SETTINGS.profile]))'
match_indent = true
